body {
    font-family: 'Helvetica', 'Arial', sans-serif;
    color: #444444;
    font-size: 13pt;
    background-color: #FAFAFA;
}

.options {
    margin-top: 20px;
    margin-bottom: 20px;
    width: 500px;
}

.dGeneral {
    text-align: center;
}

.dSubG {
    border-color: gray;
    border-width: 1px;
    border-style: dotted;
    margin: 150px;
}
